    
    
    <!-- CONTENIDO -->
    <main >
        
        <section>
            <div class="center-content">
                <div class="image-container">
                    <img src="./img/Logo_Inicio.png" class="responsive-image" width="500">
                </div>
            </div>
        </section>
      
      </main>
        
    
   <script src="./js/menu.js"></script>
    
